@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --succes-color: #2ecc71;;
    --error-color: #e74c3c;
}

.cybersource_shopware6_container .form-control{
    margin-bottom: 5px;
    position: relative;
}

.cybersource_shopware6_container .form-control label{
    color:#777;
    display: block;
    margin-bottom: 5px; 
}
 
.cybersource_shopware6_container .form-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.cybersource_shopware6_container .form-control input:focus{
    outline: 0;
    border-color: #777;
}

.cybersource_shopware6_container .form-control.success input {
    border-color: var(--succes-color);
}

.cybersource_shopware6_container .form-group.error label,
.cybersource_shopware6_container .form-control.error label {
    border-color: var(--error-color);    
    color: var(--error-color);    
}

.cybersource_shopware6_container .form-group.error input,
.cybersource_shopware6_container .form-control.error input {
    border-color: var(--error-color);
    background-color: #FBE5EA;   
}

.cybersource_shopware6_container .form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.cybersource_shopware6_container .form-group.error small,
.cybersource_shopware6_container .form-control.error small{
    visibility: visible;
    color: var(--error-color) !important;
    font-size: 14px;
    line-height: 19.6px;
}

.error-container {
    background-image: url('../../../bundles/cybersourceshopware6/error-icon.png');
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}