{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% block page_checkout_confirm_header %}
	{% if page.errorCode is not null %}
        {% set errorMessage =  'cybersource_shopware6.exception.' ~ page.errorCode %}

        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'danger',
            content: errorMessage|trans|sw_sanitize
        } %}
    {% endif %}

    <h1 class="confirm-main-header">
        {{ "account.completePayment"|trans|sw_sanitize }}
    </h1>
    {% if page.extensions.cybersource_shopware6 %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const form = document.getElementById('confirmOrderForm');

                // Create hidden input for cybersource_transaction_id
                const transactionIdInput = document.createElement('input');
                transactionIdInput.type = 'hidden';
                transactionIdInput.id = 'cybersource_transaction_id';
                transactionIdInput.name = 'cybersource_transaction_id';
                transactionIdInput.value = '';

                // Create hidden input for cybersource_payment_status
                const paymentStatusInput = document.createElement('input');
                paymentStatusInput.type = 'hidden';
                paymentStatusInput.id = 'cybersource_payment_status';
                paymentStatusInput.name = 'cybersource_payment_status';
                paymentStatusInput.value = '';

                // Create hidden input for cybersource_payment_uniqid
                const paymentUniqidInput = document.createElement('input');
                paymentUniqidInput.type = 'hidden';
                paymentUniqidInput.id = 'cybersource_payment_uniqid';
                paymentUniqidInput.name = 'cybersource_payment_uniqid';
                paymentUniqidInput.value = '';

                // Append the inputs to the form
                form.appendChild(transactionIdInput);
                form.appendChild(paymentStatusInput);
                form.appendChild(paymentUniqidInput);
            });
        </script>
    {% endif %}
{% endblock %}
